*
!*/

# Allowed Files
!.gitignore
!build.gradle.kts
!gradle.properties
!gradlew
!gradlew.bat
!LICENSE
!README.md
!settings.gradle.kts

# Allowed dirs
!.github/**
!gradle/**
!src/**

# Ignore for local VCS
.idea/