<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="APP_PATTERN" value="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${APP_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Nested class reference uses the binary name with '$' -->
    <appender name="UI" class="ai.attackframework.tools.burp.utils.Logger$UiAppender"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="UI"/>
    </root>
</configuration>
